# This file is part of home-assistant-config
# https://github.com/mgafner/home-assistant-config
#
# This is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <http://www.gnu.org/licenses/>.

# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/

android_ip_webcam_room4_alarmclock_host: 127.0.0.1
android_ip_webcam_room4_alarmclock_username: username
android_ip_webcam_room4_alarmclock_password: password

alpha_vantage_api_key: ABCDEFGHIJKLMNOPQRSTUVWXYZ

broadlink_ip: 127.0.0.1
broadlink_mac: '12:34:56:78:9A:BC'


darksky_api_key: ABCDEFGHIJKLMNOPQRSTUVWXYZ

homewizard_get_sensors: http://homewizard.url/homewizard-password/get-sensors

# hass
http_password: password

# cameras
camera_dcs820l_url:       http://127.0.0.1/video/mjpg.cgi
camera_dcs820l_username:  username
camera_dcs820l_password:  password

camera_monbijou_url: http://127.0.0.1/image.jpg
camera_monbijou_username: username
camera_monbijou_password: password


# configuration
config_latitude: 12.345678
config_longitude: 1.234567

http_base_url: home.assista.nt:8123
http_cors_allowed_origins: https://home.assista.nt
http_trusted_networks:
  - 127.0.0.1
  - 127.0.0.1

internet_next_gateway: 127.0.0.1

# router level0
level0_router_url: http://127.0.0.1/stadevice.htm
level0_router_username: username
level0_router_password: password

# netgear router
netgear_admin_user: username
netgear_admin_pass: password

# nmap_tracker
nmap_tracker_hosts: 127.0.0.1/24

# fritz router
fritz_ip: 127.0.0.1
fritz_admin_user: username
fritz_admin_pass: password

# homeassistant recorder
recorder_db_url: 'mysql://username:password@homeassistant_db_1:3306/homeassistant?charset=utf8'

tradfri_ip: 127.0.0.1

# vacuum roomba
vacuum_roomba_ip:   127.0.0.1
vacuum_roomba_blid: 1234567890123456
vacuum_roomba_pass: ABCDEFGHIJKLMNOP

mediaplayer_snapcast_ip:       127.0.0.1
mediaplayer_kodi2_ip:          127.0.0.1
mediaplayer_kodi4_ip:          127.0.0.1
mediaplayer_shower_ip:         127.0.0.1
mediaplayer_bath_ip:           127.0.0.1

mediaplayer_philips-js_ip:     127.0.0.1

mediaplayer_philips-16r1_ip:   127.0.0.1
mediaplayer_philips-16r1_mac:  12:34:56:78:9A:BC
mediaplayer_philips-16r1_user: abcdefghijklmnop
mediaplayer_philips-16r1_pass: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop

mediaplayer_philips-16r2_ip:   127.0.0.1
mediaplayer_philips-16r2_mac:  12:34:56:78:9A:BC
mediaplayer_philips-16r2_user: abcdefghijklmnop
mediaplayer_philips-16r2_pass: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop

mediaplayer_philips-16r4_ip:   127.0.0.1
mediaplayer_philips-16r4_mac:  12:34:56:78:9A:BC
mediaplayer_philips-16r4_user: abcdefghijklmnop
mediaplayer_philips-16r4_pass: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop

mqtt_user: username
mqtt_pass: password
mqtt_broker_ip: 127.0.0.1

rocketchat_url: https://rocket.chat.example
rocketchat_user: username
rocketchat_pass: password
rocketchat_room: roomname

sensor_sql_db_url: mysql://username:password@127.0.0.1/homeassistant
pushover_api_key:  abcdefghijklmnopqrstuvwxyzabcd
pushover_user_key: abcdefghijklmnopqrstuvwxyzabcd

bernmobil_url: 'https://www.oevplus.ch/'
tvheadend_url: 'http://127.0.0.1:9981/tv.html'

weblink_router_url: http://127.0.0.1/

