/*
 copy this file to secrets.js and change the values to your needs.
*/

secrets = '{"serverUrl" : "https://localhost", "wsUrl" : "wss://localhost/api/websocket", "authToken": null, "googleApiKey" : "XXXXXXXXX" }';
